{% extends 'base.html.twig' %}

   {% block userConnecter %}
	
              {% endblock %}


{% block body %}


<div>
   {{ include('user/_form.html.twig') }}
</div>
     <a href="{{ path('app_user_home') }}">back to list</a>
	



{% endblock %}