{% extends 'baseBack.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Modifier ticket</h2>
                    <h4><a href="{{ path('ticket_index') }}">Retour à la liste</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            {{ include('ticket/form.html.twig', {'button_label': 'Modifier'}) }}
            {{ include('ticket/delete.html.twig') }}
        </div>
    </section>
{% endblock %}
