{% extends 'baseBack.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorieAdmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_back_index') }}">back to list</a>

    {{ include('categorieAdmin/_delete_form.html.twig') }}
{% endblock %}
