{% extends 'baseBack.html.twig' %}

{% block title %}Nouveau type{% endblock %}

{% block body %}
    <h1 style="display:flex;justify-content: center;align-items: center;">Ajouter un nouveau type</h1>

    {{ include('type/_form.html.twig') }}

{% endblock %}
