{% extends 'base.html.twig' %}

{% block title %}Modification du réclamation{% endblock %}

{% block body %}
    <h1>Modifier la Réclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}


<br>
  
{% endblock %}
