{% extends 'base.html.twig' %}

{% block title %}Nouvelle réclamation{% endblock %}
{% block titlePage %}      <h1>Ajouter une réclamation</h1>{% endblock %}
{% block body %}

<br> 
    {{ include('reclamation/_form.html.twig') }}

<br>

{% endblock %}
