{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}
{% block titlePage %}    <h1>Votre réponse</h1> {% endblock %}
{% block body %}
<br>

    {{ include('reponse/_form.html.twig') }}
    <div class="card-body" style="display:flex;justify-content: center;align-items: center;gap: 1cm;">


        <a class="btn btn-secondary btn-sm" href="{{ path('app_reclamation_show', {'id': reponse.reclamation.id}) }}">Retour à la liste</a>

    </div>
<br>
    <br>

{% endblock %}
